extends ../template

block variables
    - var title = '404 Not found'
    - var contactForm = false

block content
    main
        section.error
            .error__wrapper
                img(src="./assets/images/diamond-404-min.png" srcset="assets/images/diamond-404@2x-min.png" width="227" height="226" alt="Данная страница не найдена").error__img
            p.error__text Данная страница не найдена или не существует.<br> Попробуйте вернуться на главную и повторить поиск.
            a(href="#").error__link.button На главную