extends ../template

block variables
    - var title = 'Статьи'
    - var contactForm = false

block content
    main
        include ../components/bread-crumbs.pug

        section.articles
            h1.heading-1.articles__heading Статьи
            .articles__box.articles-list

                article.articles-list__item
                    a(href="#").articles-list__wrap
                        img(src="./assets/images/other-public-03-min.jpg" alt="Выездная экспертиза геммолога").articles-list__img
                    .articles-list__wrapper
                        .articles-list__tags-wrap
                            span.articles-list__tag.articles-list__tag--jewelry Ювелирные изделия
                        a(href="#").articles-list__link
                            h3.articles-list__caption Выездная экспертиза геммолога
                        time(datetime="2019-06-12").articles-list__date 12.06.2019
                
                article.articles-list__item
                    a(href="#").articles-list__wrap.articles-list__wrap--border
                        img(src="./assets/images/other-public-02-min.jpg" alt="Полиморфизм в минералах").articles-list__img
                    .articles-list__wrapper
                        .articles-list__tags-wrap
                            span.articles-list__tag.articles-list__tag--minerals Минералы
                            span.articles-list__tag.articles-list__tag--jewelry , Ювелирные изделия
                        a(href="#").articles-list__link
                            h3.articles-list__caption Полиморфизм в минералах
                        time(datetime="2019-06-12").articles-list__date 12.06.2019
                
                article.articles-list__item
                    a(href="#").articles-list__wrap
                        img(src="./assets/images/emerald-articles-min.jpg" alt="Зависит ли цвет изумруда от месторождения?").articles-list__img
                    .articles-list__wrapper
                        .articles-list__tags-wrap
                            span.articles-list__tag.articles-list__tag--emerald Изумруд
                            span.articles-list__tag.articles-list__tag--gems , Драгоценные камни
                        a(href="#").articles-list__link
                            h3.articles-list__caption Зависит ли цвет изумруда от месторождения?
                        time(datetime="2019-06-12").articles-list__date 12.06.2019
                
                article.articles-list__item
                    a(href="#").articles-list__wrap
                        img(src="./assets/images/other-public-03-min.jpg" alt="Выездная экспертиза геммолога").articles-list__img
                    .articles-list__wrapper
                        .articles-list__tags-wrap
                            span.articles-list__tag.articles-list__tag--jewelry Ювелирные изделия
                        a(href="#").articles-list__link
                            h3.articles-list__caption Выездная экспертиза геммолога
                        time(datetime="2019-06-12").articles-list__date 12.06.2019
                
                article.articles-list__item
                    a(href="#").articles-list__wrap.articles-list__wrap--border
                        img(src="./assets/images/other-public-02-min.jpg" alt="Полиморфизм в минералах").articles-list__img
                    .articles-list__wrapper
                        .articles-list__tags-wrap
                            span.articles-list__tag.articles-list__tag--minerals Минералы
                            span.articles-list__tag.articles-list__tag--jewelry , Ювелирные изделия
                        a(href="#").articles-list__link
                            h3.articles-list__caption Полиморфизм в минералах
                        time(datetime="2019-06-12").articles-list__date 12.06.2019
                
                article.articles-list__item
                    a(href="#").articles-list__wrap
                        img(src="./assets/images/emerald-articles-min.jpg" alt="Зависит ли цвет изумруда от месторождения?").articles-list__img
                    .articles-list__wrapper
                        .articles-list__tags-wrap
                            span.articles-list__tag.articles-list__tag--emerald Изумруд
                            span.articles-list__tag.articles-list__tag--gems , Драгоценные камни
                        a(href="#").articles-list__link
                            h3.articles-list__caption Зависит ли цвет изумруда от месторождения?
                        time(datetime="2019-06-12").articles-list__date 12.06.2019
                
                article.articles-list__item
                    a(href="#").articles-list__wrap
                        img(src="./assets/images/other-public-03-min.jpg" alt="Выездная экспертиза геммолога").articles-list__img
                    .articles-list__wrapper
                        .articles-list__tags-wrap
                            span.articles-list__tag.articles-list__tag--jewelry Ювелирные изделия
                        a(href="#").articles-list__link
                            h3.articles-list__caption Выездная экспертиза геммолога
                        time(datetime="2019-06-12").articles-list__date 12.06.2019
                
                article.articles-list__item
                    a(href="#").articles-list__wrap.articles-list__wrap--border
                        img(src="./assets/images/other-public-02-min.jpg" alt="Полиморфизм в минералах").articles-list__img
                    .articles-list__wrapper
                        .articles-list__tags-wrap
                            span.articles-list__tag.articles-list__tag--minerals Минералы
                            span.articles-list__tag.articles-list__tag--jewelry , Ювелирные изделия
                        a(href="#").articles-list__link
                            h3.articles-list__caption Полиморфизм в минералах
                        time(datetime="2019-06-12").articles-list__date 12.06.2019
                
                article.articles-list__item
                    a(href="#").articles-list__wrap
                        img(src="./assets/images/emerald-articles-min.jpg" alt="Зависит ли цвет изумруда от месторождения?").articles-list__img
                    .articles-list__wrapper
                        .articles-list__tags-wrap
                            span.articles-list__tag.articles-list__tag--emerald Изумруд
                            span.articles-list__tag.articles-list__tag--gems , Драгоценные камни
                        a(href="#").articles-list__link
                            h3.articles-list__caption Зависит ли цвет изумруда от месторождения?
                        time(datetime="2019-06-12").articles-list__date 12.06.2019
                
                article.articles-list__item
                    a(href="#").articles-list__wrap
                        img(src="./assets/images/other-public-03-min.jpg" alt="Выездная экспертиза геммолога").articles-list__img
                    .articles-list__wrapper
                        .articles-list__tags-wrap
                            span.articles-list__tag.articles-list__tag--jewelry Ювелирные изделия
                        a(href="#").articles-list__link
                            h3.articles-list__caption Выездная экспертиза геммолога
                        time(datetime="2019-06-12").articles-list__date 12.06.2019
                
                article.articles-list__item
                    a(href="#").articles-list__wrap.articles-list__wrap--border
                        img(src="./assets/images/other-public-02-min.jpg" alt="Полиморфизм в минералах").articles-list__img
                    .articles-list__wrapper
                        .articles-list__tags-wrap
                            span.articles-list__tag.articles-list__tag--minerals Минералы
                            span.articles-list__tag.articles-list__tag--jewelry , Ювелирные изделия
                        a(href="#").articles-list__link
                            h3.articles-list__caption Полиморфизм в минералах
                        time(datetime="2019-06-12").articles-list__date 12.06.2019
                
                article.articles-list__item
                    a(href="#").articles-list__wrap
                        img(src="./assets/images/emerald-articles-min.jpg" alt="Зависит ли цвет изумруда от месторождения?").articles-list__img
                    .articles-list__wrapper
                        .articles-list__tags-wrap
                            span.articles-list__tag.articles-list__tag--emerald Изумруд
                            span.articles-list__tag.articles-list__tag--gems , Драгоценные камни
                        a(href="#").articles-list__link
                            h3.articles-list__caption Зависит ли цвет изумруда от месторождения?
                        time(datetime="2019-06-12").articles-list__date 12.06.2019

                            
            .articles__pagination
                include ../components/pagination.pug