extends ../template

block variables
    - var title = '404 Not found'
    - var contactForm = false

block content
    main
        section.error
            .error__wrapper
                span.error__four 4
                img(src="./assets/images/diamond-404-min.png" srcset="assets/images/diamond-404@2x-min.png" width="227" height="226" alt="Данная страница не найдена").error__img
                img(src="./assets/images/ring-404-min.png" srcset="./assets/images/ring-404@2x-min.png" width="202.33" height="232.59" alt="Данная страница не найдена").error__img--tablet
                span.error__four 4
            p.error__text Данная страница не найдена или не существует.<br> Попробуйте вернуться на главную и повторить поиск.
            a(href="#").error__link.button На главную