extends ../template

block variables
    - var title = 'Частые вопросы'
    - var contactForm = true

block content
    main
        include ../components/bread-crumbs.pug

        h1.heading-1.heading-under-bread-crumbs Частые вопросы

        .faq
            .ac.faq__item
                .ac-q.faq__item-head 
                    .ac-close
                    h2.faq__item-head-text Сколько стоит экспертиза драгоценного камня?
                .ac-a
                    .faq__item-content 
                        p.faq__item-content-text Наша лаборатория гарантирует сохранность бриллиантов благодаря уникальной в России системе GemPrint ® . До начала экспертизы Gemprint в вашем присутствии зафиксирует «отпечаток пальца» бриллианта. После экспертизы вы сможете сверить «отпечаток пальца» и бриллиант. Если вы не готовы доверить камень, то мы можем провести экспертизу в вашем присутствии.
            .ac.faq__item
                .ac-q.faq__item-head 
                    .ac-close
                    h2.faq__item-head-text Сомневаюсь, что стоит оставлять бриллиант в лаборатории. Где гарантия, что вы вернете именно его?
                .ac-a
                    .faq__item-content 
                        p.faq__item-content-text Наша лаборатория гарантирует сохранность бриллиантов благодаря уникальной в России системе GemPrint ® . До начала экспертизы Gemprint в вашем присутствии зафиксирует «отпечаток пальца» бриллианта. После экспертизы вы сможете сверить «отпечаток пальца» и бриллиант. Если вы не готовы доверить камень, то мы можем провести экспертизу в вашем присутствии.
            .ac.faq__item
                .ac-q.faq__item-head 
                    .ac-close
                    h2.faq__item-head-text Я не уверен(а) в качестве драгоценного камня. Стоит ли мне заказывать документ?
                .ac-a
                    .faq__item-content 
                        p.faq__item-content-text Наша лаборатория гарантирует сохранность бриллиантов благодаря уникальной в России системе GemPrint ® . До начала экспертизы Gemprint в вашем присутствии зафиксирует «отпечаток пальца» бриллианта. После экспертизы вы сможете сверить «отпечаток пальца» и бриллиант. Если вы не готовы доверить камень, то мы можем провести экспертизу в вашем присутствии.
            .ac.faq__item
                .ac-q.faq__item-head 
                    .ac-close
                    h2.faq__item-head-text Возможно ли сделать экспертизу только одного камня в изделии?
                .ac-a
                    .faq__item-content 
                        p.faq__item-content-text Наша лаборатория гарантирует сохранность бриллиантов благодаря уникальной в России системе GemPrint ® . До начала экспертизы Gemprint в вашем присутствии зафиксирует «отпечаток пальца» бриллианта. После экспертизы вы сможете сверить «отпечаток пальца» и бриллиант. Если вы не готовы доверить камень, то мы можем провести экспертизу в вашем присутствии.
            .ac.faq__item
                .ac-q.faq__item-head 
                    .ac-close
                    h2.faq__item-head-text Чем экспертное заключение отличается от сертификата?
                .ac-a
                    .faq__item-content 
                        p.faq__item-content-text Наша лаборатория гарантирует сохранность бриллиантов благодаря уникальной в России системе GemPrint ® . До начала экспертизы Gemprint в вашем присутствии зафиксирует «отпечаток пальца» бриллианта. После экспертизы вы сможете сверить «отпечаток пальца» и бриллиант. Если вы не готовы доверить камень, то мы можем провести экспертизу в вашем присутствии.
            .ac.faq__item
                .ac-q.faq__item-head 
                    .ac-close
                    h2.faq__item-head-text Как определить, бриллиант у меня или другой камень?
                .ac-a
                    .faq__item-content 
                        p.faq__item-content-text Наша лаборатория гарантирует сохранность бриллиантов благодаря уникальной в России системе GemPrint ® . До начала экспертизы Gemprint в вашем присутствии зафиксирует «отпечаток пальца» бриллианта. После экспертизы вы сможете сверить «отпечаток пальца» и бриллиант. Если вы не готовы доверить камень, то мы можем провести экспертизу в вашем присутствии.
            .ac.faq__item
                .ac-q.faq__item-head 
                    .ac-close
                    h2.faq__item-head-text Сколько длится экспертиза?
                .ac-a
                    .faq__item-content 
                        p.faq__item-content-text Наша лаборатория гарантирует сохранность бриллиантов благодаря уникальной в России системе GemPrint ® . До начала экспертизы Gemprint в вашем присутствии зафиксирует «отпечаток пальца» бриллианта. После экспертизы вы сможете сверить «отпечаток пальца» и бриллиант. Если вы не готовы доверить камень, то мы можем провести экспертизу в вашем присутствии.
            .ac.faq__item
                .ac-q.faq__item-head 
                    .ac-close
                    h2.faq__item-head-text Как определить вес драгоценного камня?
                .ac-a
                    .faq__item-content 
                        p.faq__item-content-text Наша лаборатория гарантирует сохранность бриллиантов благодаря уникальной в России системе GemPrint ® . До начала экспертизы Gemprint в вашем присутствии зафиксирует «отпечаток пальца» бриллианта. После экспертизы вы сможете сверить «отпечаток пальца» и бриллиант. Если вы не готовы доверить камень, то мы можем провести экспертизу в вашем присутствии.
