extends ../template

block variables
    - var title = 'Главная'

block content
    main
        section.slider-main__wrap
            .slider-main
                .slider-main__item
                    .slider-main__text-wrap
                        span.slider-main__text-label Акция
                        span.heading-1.slider-main__text Скидка 10% на сертификацию бриллианта
                    img(src="./assets/images/slider-img1-min.jpg", alt="").slider-main__img
                .slider-main__item
                    .slider-main__text-wrap
                        span.slider-main__text-label Акция
                        span.heading-1.slider-main__text Скидка 10% на сертификацию бриллианта
                    img(src="./assets/images/slider-img1-min.jpg", alt="").slider-main__img
                .slider-main__item
                    .slider-main__text-wrap
                        span.slider-main__text-label Акция
                        span.heading-1.slider-main__text Скидка 10% на сертификацию бриллианта
                    img(src="./assets/images/slider-img1-min.jpg", alt="").slider-main__img

    
