extends ../template

block variables
    - var title = 'Главная'

block content
    main
        section.slider-main__wrap
            .slider-main
                .slider-main__item
                    .slider-main__text-wrap
                        span.slider-main__text-label Акция
                        span.heading-1.slider-main__text Скидка 10% на сертификацию бриллианта
                    img(src="./assets/images/slider-img1-min.jpg", alt="Скидка 10% на сертификацию бриллианта").slider-main__img
                .slider-main__item
                    .slider-main__text-wrap
                        span.slider-main__text-label Акция
                        span.heading-1.slider-main__text Скидка 10% на сертификацию бриллианта
                    img(src="./assets/images/slider-img1-min.jpg", alt="Скидка 10% на сертификацию бриллианта").slider-main__img
                .slider-main__item
                    .slider-main__text-wrap
                        span.slider-main__text-label Акция
                        span.heading-1.slider-main__text Скидка 10% на сертификацию бриллианта
                    img(src="./assets/images/slider-img1-min.jpg", alt="Скидка 10% на сертификацию бриллианта").slider-main__img

        section.lab-rgl
            h1.heading-1.lab-rgl__heading Геммологическая лаборатория RGL
            p.lab-rgl__text Cертифицируем бриллианты, различные драгоценные камни и ювелирные <br> изделий в российской и международной системах
            
            .card-linc.lab-rgl__servic-wrap
                a(href="#").card-linc__item
                    img(src="./assets/images/lab-rgl-ring-min.png", srcset="assets/images/lab-rgl-ring-min@2x-min.png 2x" alt="Сертификация").card-linc__img
                    h4.card-linc__heading Сертификация
                    p.card-linc__text Бриллиантов, цветных драгоценных камней или партий
                a(href="#").card-linc__item
                    img(src="./assets/images/lab-rgl-doc-min.png", srcset="assets/images/lab-rgl-doc-min@2x-min.png 2x" alt="Экспертное заключение").card-linc__img
                    h4.card-linc__heading Экспертное заключение
                    p.card-linc__text Для ювелирных камней и изделий с выдачей заключения или без
                a(href="#").card-linc__item
                    img(src="./assets/images/lab-rgl-box-min.png", srcset="assets/images/lab-rgl-box-min@2x-min.png 2x" alt="Индивидуальная упаковка камней").card-linc__img
                    h4.card-linc__heading Индивидуальная упаковка камней
            
            button(type="submit").button.header__top-button Услуги и цены

        section.advantages
            h2.heading-1.advantages__heading Преимущества работы с нами
            .advantages__wrap
                .advantages__item
                    img(src="./assets/images/icons/icon-paper-min.svg", alt="").advantages__item-icon
                    p.advantages__item-text Наши специалисты дипломированы российскими и зарубежными геммологическими учебными центрами. Мы гарантируем 100% достоверность информации
                .advantages__item
                    img(src="./assets/images/icons/icon-micro-min.svg", alt="").advantages__item-icon
                    p.advantages__item-text Имеем современное оборудование для точности исследования, которое регулярно проверяем и обновляем
                .advantages__item
                    img(src="./assets/images/icons/icon-scroll-min.svg", alt="").advantages__item-icon
                    p.advantages__item-text Наши сертификаты имеют презентабельный вид и подробную информацию о вашем камне или изделии, их приятно держать в руках
                .advantages__item
                    img(src="./assets/images/icons/icon-ring-plate-min.svg", alt="").advantages__item-icon
                    p.advantages__item-text Предоставляем информацию в кратчайшие сроки вместе с собственным руководством по качеству
                .advantages__item
                    img(src="./assets/images/icons/icon-ring-price-min.svg", alt="").advantages__item-icon
                    p.advantages__item-text Лояльные цены за качественную и быструю работу
            button(type="submit").button.header__top-button Услуги и цены
        
        section.certificates
            h2.heading-1.certificates__heading Виды сертификации
            .card-linc
                a(href="#").card-linc__item
                    img(src="./assets/images/cert-diamond-min.png", srcset="assets/images/cert-diamond@2x-min.png 2x" alt="Сертификация").card-linc__img
                    h4.card-linc__heading.text_center Бриллианты
                a(href="#").card-linc__item
                    img(src="./assets/images/cert-ring-min.png", srcset="assets/images/cert-ring@2x-min.png 2x" alt="Экспертное заключение").card-linc__img
                    h4.card-linc__heading.text_center Ювелирные изделия
                a(href="#").card-linc__item
                    img(src="./assets/images/cert-mineral-min.png", srcset="assets/images/cert-mineral@2x-min.png 2x" alt="Индивидуальная упаковка камней").card-linc__img
                    h4.card-linc__heading.text_center Драгоценные камни


