extends ../template

block variables
    - var title = 'Контакты'
    - var contactForm = true

block content
    main
        include ../components/bread-crumbs.pug

        h1.heading-1.heading-under-bread-crumbs.kontakt__heading Контакты