doctype html
html
    head
        meta(charset="utf-8")
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        //- link(rel="shortcut icon" href="assets/images/apple-touch-icon.png" type="image/x-icon")
        //- link(rel="apple-touch-icon" href="assets/images/apple-touch-icon.png")

        link(rel="stylesheet" type="text/css" href="assets/styles/app.min.css")

    body
        img(src="./assets/images/icons/main-logo-min.svg", alt="").header__top-logo-img
        ul.map
            li
                a(href="http://") Главная
            li
                a(href="http://") Сертификация
            li
                a(href="http://") О компании
            li
                a(href="http://") Услуги и цены
            li
                a(href="http://") Зависит ли цвет изумруда от месторождения?
            li
                a(href="http://") Частые вопросы
            li
                a(href="http://") Поиск по сайту
            li
                a(href="http://") Политика конфиденциальности
            li
                a(href="http://") 404