doctype html
html
    head
        meta(charset="utf-8")
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        //- link(rel="shortcut icon" href="assets/images/apple-touch-icon.png" type="image/x-icon")
        //- link(rel="apple-touch-icon" href="assets/images/apple-touch-icon.png")

        link(rel="stylesheet" type="text/css" href="assets/styles/app.min.css")

    body
        img(src="./assets/images/icons/main-logo-min.svg", alt="").header__top-logo-img
        ul.map
            li
                a(href="https://uxdimon.github.io/RGL/") Главная
            li
                a(href="https://uxdimon.github.io/RGL/sertifikatsiya.html") Сертификация
            li
                a(href="https://uxdimon.github.io/RGL/okompanii.html") О компании
            li
                a(href="https://uxdimon.github.io/RGL/uslugi-tseny.html") Услуги и цены
            li
                a(href="https://uxdimon.github.io/RGL/articles.html") Статьи
            li
                a(href="https://uxdimon.github.io/RGL/articles-page.html") Зависит ли цвет изумруда от месторождения?
            li
                a(href="https://uxdimon.github.io/RGL/faq.html") Частые вопросы
            li
                a(href="https://uxdimon.github.io/RGL/site-search.html") Поиск по сайту
            li
                a(href="https://uxdimon.github.io/RGL/site-search-null.html") Поиск по сайту (Результатов не найдено)
            li
                a(href="https://uxdimon.github.io/RGL/conf.html") Политика конфиденциальности
            li
                a(href="https://uxdimon.github.io/RGL/kontakty.html") Контакты
            li
                a(href="https://uxdimon.github.io/RGL/404.html") 404