extends ../template

block variables
    - var title = 'Сертификация'
    - var contactForm = true

block content
    main
        include ../components/bread-crumbs.pug

        h1.heading-1.heading-under-bread-crumbs О компании

        article.content-block-a
            .content-block-a__content
                .content-block-a__main
                    p Геммологическая лаборатория «RGL» оказывает услуги по сертификации бриллиантов, различных драгоценных камней и ювелирных изделий в российской и международной системах. Независимость участников сертификации от производителей, заказчиков и других заинтересованных сторон обеспечивает объективность и гибкость в работе. Геммологическая экспертиза проводится специалистами, имеющими многолетний опыт работы в геммологии, а также дипломы российских и зарубежных геммологических учебных центров. Наша цель — предоставить заказчику независимые, достоверные и объективные данные о камне или изделие в кратчайшие сроки и по лояльным ценам.
                                            
                .content-block-a__widget.order-3
                    .card-linc.card-linc_content-block
                        a(href="#").card-linc__item
                            img(src="./assets/images/lab-rgl-ring-min.png", srcset="assets/images/lab-rgl-ring-min@2x-min.png 2x" alt="Сертификация").card-linc__img
                            h4.card-linc__heading Сертификация
                        a(href="#").card-linc__item
                            img(src="./assets/images/lab-rgl-doc-min.png", srcset="assets/images/lab-rgl-doc-min@2x-min.png 2x" alt="Экспертное заключение").card-linc__img
                            h4.card-linc__heading Экспертное заключение
                        a(href="#").card-linc__item
                            img(src="./assets/images/lab-rgl-box-min.png", srcset="assets/images/lab-rgl-box-min@2x-min.png 2x" alt="Индивидуальная упаковка камней").card-linc__img
                            h4.card-linc__heading Индивидуальная упаковка камней
                    a(href="#").button.button_hgost-green Услуги и цены
            
            include ../components/stages-work.pug