extends ../template

block variables
    - var title = 'Сертификация'
    - var contactForm = true

block content
    main
        include ../components/bread-crumbs.pug

        //- Сертификация
        article.content-block-a
            h1.heading-1.content-block-a__heading Сертификация
            .content-block-a__main
                p Сертификация обработанных (огранённых) ювелирный камней и изделий с ними — это процедура подтверждения соответствия предъявленной на экспертизу продукции установленным требованиям. 
                    br/ Результатом проведения сертификации является выдача <strong>сертификата соответствия</strong>.
                div.content-block-a__img-wrap
                    .content-block-a__img-text-wrap
                        img(src="./assets/images/sert-doc-02-min.png", srcset="assets/images/sert-doc-02@2x-min.png 2x" alt="Сертификат соответствия бриллианта").content-block-a__img
                        span.content-block-a__img-text Сертификат соответствия бриллианта
                    .content-block-a__img-text-wrap
                        img(src="./assets/images/sert-doc-01-min.png", srcset="assets/images/sert-doc-01@2x-min.png 2x" alt="Сертификат соответствия бриллианта").content-block-a__img
                        span.content-block-a__img-text Сертификат соответствия партии драгоценных камней
                p В сертификате описывается природа, происхождение, характеристики драгоценного камня и результаты проверки на облагораживание.
                    br/ Согласно постановлению правительства РФ от 5 апреля 1999 г. № 372, сертификат необходим для продажи драгоценного камня первой категории физическому лицу. Сертификат показывает соответствие драгоценных камней российским стандартам: ТУ 117-4.2099-2002 для бриллиантов, ТУ 95.335-88 для изумрудов.
                    br/ После оформления сертификата можно заказать бесплатную стоимостную оценку.

            .content-block-a__widget
                p <strong>Сертификат соответствия —</strong> юридический документ с полной информацией о драгоценном камне первой категории. Он показывает соответствие камня национальным стандартам.
                p Комплекс аналитических и классификационных работ по сертификации осуществляется дипломированными специалистами на базе лаборатории, оснащенной в соответствии с техническим регламентом, утверждённым организацией, зарегистрировавшей систему добровольной сертификации.
                a(href="#").linc_arrow.content-block-a__widget-linc Заказать сертификат
        
        //- Экспертное заключение
        article.content-block-a
            h1.heading-1.content-block-a__heading Экспертное заключение
            .content-block-a__main
                p Геммологическая экспертиза является комплексом исследований, совмещающим в себе материаловедческую и товароведческую экспертизы ювелирных вставок — драгоценных и полудрагоценных камней, их синтетических аналогов и искусственных материалов (стекла, пластмасс и пр.).
                p <strong>Материаловедческая часть</strong> экспертизы заключается в определении минерального вида и разновидности камня или иного материала, природы его происхождения и наличия факта облагораживания.
                p <strong>Товароведческая часть</strong> заключается в определении потребительских свойств, основанных на визуальном восприятии и выраженных в качественных характеристиках, определенных в соответствии с тем или иным нормативным актом.
                p Экспертиза может быть выполнена для ювелирного камня в виде незакрепленной ювелирной вставки, так и для вставки, установленной в ювелирное изделие. В последнем случае экспертное геммологическое заключение выдаётся на ювелирное изделие, в котором указываются основные идентификационные характеристики изделия и описываются вставки ювелирных камней (или их имитаций) с действующими ограничениями и допусками.

                h2.heading-4 В экспертном заключении:
                ul.content-block-a__main-list
                    li Информация о природе и происхождении рубина. Отличим природные рубины от имитаций, синтетических флюсовых и гидротермальных камней
                    li Вид минерала и разновидность
                    li Вес в каратах, цвет, прозрачность, чистота по российским СТО 45866412-06-2008 или международной системе
                    li Фотография рубина, тип и форма огранки, размеры
                    li Результаты проверки на термообработку или отжиг, заполнение стеклом, красителем
                    li Месторождение, если у рубина есть характерные признаки
        
                div.content-block-a__img-wrap 
                    .content-block-a__img-text-wrap
                        img(src="./assets/images/sert-doc-03-min.png", srcset="assets/images/sert-doc-03@2x-min.png 2x" alt="Сертификат соответствия бриллианта").content-block-a__img
                        span.content-block-a__img-text Экспертное заключение рубина
                        
            .content-block-a__widget
                p <strong>Экспертное заключение</strong> — документ с полной информацией о ювелирном изделии или драгоценном камне. Он показывает природу и качество драгоценностей.
                p Согласно постановлению правительства РФ от 5 апреля 1999 г. № 372 для продажи рубина физическому лицу необходим другой документ — сертификат соответствия.
                a(href="#").linc_arrow.content-block-a__widget-linc Заказать экспертное заключения

        //- Индивидуальная упаковка
        article.packaging
            h2.heading-1.packaging__heading Индивидуальная упаковка
            .packaging__content
                .packaging__content-text-wrap
                    p.packaging__content-text Упаковка ограненного камня представляет собой пластиковый блистер с голограммой, обладающей шестнадцатью степенями защиты.
                    p.packaging__content-text При вскрытии или нарушении целостности упаковки голограмма разрушается. Это свойство защищает запакованный камень от подмены.
                    span.packaging__content-prise Общая стоимость <span class="packaging__content-prise-number">500</span> руб.
                .packaging__content-img-wrap
                    img(src="./assets/images/packaging-2-min.png", srcset="assets/images/packaging-2@2x-min.png 2x" alt="Индивидуальная упаковка").packaging__content-img
                    img(src="./assets/images/packaging-1-min.png", srcset="assets/images/packaging-1@2x-min.png 2x" alt="Индивидуальная упаковка").packaging__content-img

        //- Виды сертификации
        include ../components/certificates.pug
        
        article.stages-work-wrap
            include ../components/stages-work.pug