extends ../template

block variables
    - var title = 'Сертификация'
    - var contactForm = true

block content
    main
        include ../components/bread-crumbs.pug

        article.content-block-a
            h1.heading-1.content-block-a__heading Сертификация
            .content-block-a__main
                p Сертификация обработанных (огранённых) ювелирный камней и изделий с ними — это процедура подтверждения соответствия предъявленной на экспертизу продукции установленным требованиям. 
                    br/ Результатом проведения сертификации является выдача <strong>сертификата соответствия</strong>.
                div 
                    .content-block-a__img-wrap
                        img(src="./assets/images/sert-doc-02-min.png", srcset="assets/images/sert-doc-02@2x-min.png 2x" alt="Сертификат соответствия бриллианта").card-linc__img
                        span.content-block-a__img-text Сертификат соответствия бриллианта
                    .content-block-a__img-wrap
                        img(src="./assets/images/sert-doc-01-min.png", srcset="assets/images/sert-doc-01@2x-min.png 2x" alt="Сертификат соответствия бриллианта").card-linc__img
                        span.content-block-a__img-text Сертификат соответствия партии драгоценных камней
                p В сертификате описывается природа, происхождение, характеристики драгоценного камня и результаты проверки на облагораживание.
                    br/ Согласно постановлению правительства РФ от 5 апреля 1999 г. № 372, сертификат необходим для продажи драгоценного камня первой категории физическому лицу. Сертификат показывает соответствие драгоценных камней российским стандартам: ТУ 117-4.2099-2002 для бриллиантов, ТУ 95.335-88 для изумрудов.
                    br/ После оформления сертификата можно заказать бесплатную стоимостную оценку.

            .content-block-a__widget
                p <strong>Сертификат соответствия —</strong> юридический документ с полной информацией о драгоценном камне первой категории. Он показывает соответствие камня национальным стандартам.
                p Комплекс аналитических и классификационных работ по сертификации осуществляется дипломированными специалистами на базе лаборатории, оснащенной в соответствии с техническим регламентом, утверждённым организацией, зарегистрировавшей систему добровольной сертификации.
                a(href="#").linc_arrow.content-block-a__widget-linc Заказать сертификат


