.conf {
	width: var(--content-max-weight);
	margin-bottom: 120px;
}

.conf-heading {
	margin-top: 24px;
	margin-bottom: 64px;
	text-align: center;
}

.conf__wrap {
	margin-top: 24px;
}

.conf__wrapper {
	&:first-of-type {
		margin-bottom: 12px;
	}
}

.conf__title {
	margin-bottom: 12px;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
}

.conf__title--margin {
	margin-bottom: 8px;
}

.conf__subtitle {
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}

.conf__text {
	margin: 8px 0;
	font-size: 14px;
	line-height: 16px;

	&:first-of-type {
		margin: 0;
	}
}

@media screen and (max-width: 1344px) {
	.conf {
		padding: var(--content-pading);
	}
}

@media screen and (max-width: 768px) {
	.conf {
		margin-bottom: 64px;
	}

	.conf-heading {
		margin: 0 0 24px 0;
	}
}
