.error {
	margin: 120px 0;
	text-align: center;
	width: 100%;
	max-width: 698px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.error__wrapper {
	position: relative;
	width: 698px;
	display: flex;
	justify-content: center;
	align-items: center;

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 174px;
		height: 227px;
		background-color: $color-text-main;
		mask: url(../images/icons/icon-404-min.svg) no-repeat center;
		mask-size: contain;
	}

	&::after {
		right: 0;
	}
	&::before {
		left: 0;
	}
}

.error__img {
	background-color: $color-blue_neut;
	border-radius: 50%;
}

.error__text {
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	padding: 0;
	margin-top: 64px;
	margin-bottom: 40px;
}

@media screen and (max-width: 1344px) {
	.error {
		padding: var(--content-pading);
		margin: 100px 0;
	}
}

@media screen and (max-width: 960px) {
	.error {
		margin: 80px 0;
	}
}

@media screen and (max-width: 768px) {
	.error {
		margin-top: 24px;
		margin-bottom: 64px;
	}

	.error__wrapper {
		transform: scale(0.6);
		height: 135px;
	}

	.error__text {
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		margin-top: 50px;
		margin-bottom: 32px;
	}
}

@media screen and (max-width: 510px) {
	.error__wrapper {
		transform: scale(0.4);
		height: 90px;
	}
}
