.error {
	margin: 120px 0;
	text-align: center;

	@media screen and (max-width: 768px) {
		margin-top: 80px;
		margin-bottom: 104px;
	}
}

.error__wrapper {
	position: relative;
	width: 698px;
	display: flex;
	justify-content: center;

	&::before {
		content: "";
		position: absolute;
		width: 174px;
		height: 227px;
		background-color: $color-text-main;
		mask: url(../images/icons/icon-404-min.svg) no-repeat center;
		mask-size: contain;
		top: -2px;
		left: 0;

		@media screen and (max-width: 768px) {
			width: 153px;
			height: 200px;
		}
	}

	&::after {
		content: "";
		position: absolute;
		width: 174px;
		height: 227px;
		background-color: $color-text-main;
		mask: url(../images/icons/icon-404-min.svg) no-repeat center;
		mask-size: contain;
		top: -2px;
		right: 0;

		@media screen and (max-width: 768px) {
			width: 153px;
			height: 200px;
		}
	}

	@media screen and (max-width: 768px) {
		width: 645px;
	}
}

.error__img {
	background-color: $color-blue_neut;
	border-radius: 50%;

	@media screen and (max-width: 768px) {
		width: 202px;
		height: 201px;
	}
}

.error__text {
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	padding: 0;
	margin-top: 64px;
	margin-bottom: 40px;

	@media screen and (max-width: 768px) {
		font-size: 16px;
		line-height: 24px;
	}
}
