.site-search {
	width: var(--content-max-weight);
	border: 1px solid $color-light_viol;
	background-color: $color-wheat;
	border-radius: 5px;
	margin-top: 64px;
	margin-bottom: 120px;
}

.site-search__head {
	padding: 24px 40px;
	border-bottom: 1px solid $color-light_viol;
}

.site-search__head-form {
	display: flex;
}

.site-search__head-search {
	flex-basis: 100%;

	.input {
		border-right: 0;
		border-radius: 0;
	}
}

.site-search__head-button-wrap {
	flex-shrink: 0;
	padding: 0 12px;
	display: flex;
	align-items: center;
	border: 1px solid $color-light_viol;
	border-left: 0;
	border-radius: 0 5px 5px 0;

	.button {
		font-size: 12px;
		line-height: 16px;
		padding: 0 12px;
		height: 28px;
	}
}

.site-search__head-button {
	margin-right: 8px;

	&:last-child {
		margin-right: 0;
	}
}

.site-search__wrap {
	padding: 24px 40px;
}

.site-search__wrap-button-wrap {
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
}

.site-search__wrap-button {
	margin-right: 24px;
}

.site-search__wrap-linc {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

.site-search__item {
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;

	&:last-child {
		margin-bottom: 0;
	}
}

.site-search__teag {
	font-size: 10px;
	line-height: 16px;
	color: transparentize($color-neutral, 0.3);
}

.site-search__limc {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 8px;
}

.site-search__text {
	font-size: 12px;
	line-height: 16px;
	height: 16px;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.site-search__bot {
	border-top: 1px solid $color-light_viol;
	padding: 24px 0;
}

@media screen and (max-width: 1344px) {
	.site-search {
		width: calc(var(--content-max-weight) - 34px);
	}
}

@media screen and (max-width: 960px) {
	.site-search__head-form {
		flex-direction: column;
	}

	.site-search__head-search {
		margin-bottom: 20px;

		.input {
			border-radius: 0 5px 5px 0;
			border-right: 1px solid $color-light_viol;
		}
	}

	.site-search__head-button-wrap {
		border: none;
		padding: 0;
		overflow-x: auto;
		overflow-y: hidden;
		border-radius: 0;

		&::-webkit-scrollbar {
			height: 0;
		}

		&::before,
		&::after {
			content: "";
			width: 16px;
			height: 10px;
			display: block;
			background-color: transparent;
			flex-shrink: 0;
		}
	}

	.site-search__head-button {
		flex-shrink: 0;
	}
}

@media screen and (max-width: 768px) {
	.site-search {
		margin-top: 16px;
		margin-bottom: 64px;
	}

	.site-search__head,
	.site-search__wrap,
	.site-search__bot {
		padding: 24px 16px;
	}

	.site-search__head-button-wrap {
		margin: 0 -16px;
	}

	.site-search__wrap-linc {
		margin-top: 16px;
	}
}
