:root {
	// Размеры
	--content-max-weight: 1312px;
}

// Цвета
$color-text-main: #102a43;
$color-wheat: #ffffff;
$color-blue_neut: #f8f9fb;
$color-light_viol: #d9e2ec;
$color-lght_green: #f1f9f6;
$color-50: rgba(16, 42, 67, 0.5);
$color-neutral: #617d97;
$color-sky: #186eaf;
$color-green_orig: #1c4932;
$color-supporting_yellow: #f8e3a3;
$color-shitty: #dab588;
$color-dark-shit: #d8b387;

// Шрифты
$font-Montserrat: "Montserrat", sans-serif;
$font-Raleway: "Raleway", sans-serif;
$font-Marcellus: "Marcellus", serif;

// Анимация
@mixin transition($property: all) {
	transition: 150ms ease-in-out 0ms;
	transition-property: $property;
}

@import "./common/fonts.scss";
@import "./common/tiny-slider.scss";

* {
	box-sizing: border-box;
	outline-offset: 4px;
}

body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: $color-text-main;
	background-color: $color-blue_neut;
	background-image: url(../images/back-img.svg);
	background-repeat: repeat-y;
	background-position-x: center;
	font-family: $font-Montserrat;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	line-height: 24px;
}

a {
	color: $color-green_orig;
	text-decoration: none;
	@include transition(color);

	&:hover {
		text-decoration: underline;
	}
}

.header,
.footer,
.contact,
main {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.heading-1,
h1 {
	font-family: $font-Raleway;
	font-size: 40px;
	font-weight: 600;
	line-height: 48px;
}

.heading-4,
h4 {
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
}

h1,
h2 {
	margin: 40px 0 24px 0;
}

h3,
h4 {
	margin: 40px 0 16px 0;
}

p {
	margin: 12px 0;
}

p,
h1,
h2,
h3,
h4 {
	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.heading-under-bread-crumbs {
	text-align: center;
	margin: 24px 0 0 0;
}

table {
	border: 1px solid $color-light_viol;
	background-color: $color-wheat;
	border-radius: 5px;
	width: 100%;
	font-size: 14px;
	border-spacing: 0;
}

th,
td {
	padding: 16px 24px;
	margin: 0;
	border-bottom: 1px solid $color-light_viol;
}

tr:last-child > td {
	border-bottom: 0;
}

th {
	font-weight: 600;
	line-height: 20px;
	text-align: left;
}

// миксы
.text_center {
	text-align: center;
}

// inputs
.input {
	overflow: hidden;
	height: 40px;
	padding: 0 16px;
	color: $color-text-main;
	border: 1px solid $color-light_viol;
	border-radius: 5px;
	background-color: $color-blue_neut;
	font-family: $font-Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	@include transition(border-color);

	&:focus {
		border-color: $color-neutral;
	}

	&::placeholder {
		color: $color-50;
	}
}

.input_icon {
	display: flex;
	flex-direction: row-reverse;

	.input {
		z-index: 2;
		display: block;
		border-left: none;
		border-radius: 0 5px 5px 0;
		flex-basis: 100%;

		&:focus ~ label {
			border-color: $color-neutral;
		}
	}

	> label {
		z-index: 1;
		width: 40px;
		height: 40px;
		border: 1px solid $color-light_viol;
		border-right: none;
		border-radius: 5px 0 0 5px;
		background-color: $color-wheat;
		background-repeat: no-repeat;
		background-position: center;
		flex-shrink: 0;
	}
}

.input_icon-doc {
	background-image: url(../images/icons/icon-doc-min.svg);
}

.input_icon-search {
	background-image: url(../images/icons/icon-search-min.svg);
}

// button
.button {
	display: inline-flex;
	height: 40px;
	margin: 0;
	padding: 0 24px;
	cursor: pointer;
	text-align: center;
	color: $color-wheat;
	border: none;
	border-radius: 5px;
	background-color: $color-green_orig;
	font-family: $font-Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	align-items: center;
	justify-content: center;
	border: 1px solid $color-green_orig;

	@include transition("background-color border-color");

	&:hover {
		text-decoration: none;
		background-color: lighten($color-green_orig, 5);
		border-color: lighten($color-green_orig, 5);
	}
}

.button_arrow {
	padding: 0 20px;
	background-image: url(../images/icons/icon-arrow-min.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.button_hgost-neutral {
	background-color: transparent;
	border: 1px solid $color-neutral;
	color: $color-neutral;

	&:hover {
		background-color: transparentize($color-neutral, 0.9);
		border-color: $color-neutral;
	}
}

.button_hgost-green {
	background-color: transparent;
	border: 1px solid $color-green_orig;
	color: $color-green_orig;

	&:hover {
		background-color: $color-green_orig;
		// border-color: $color-green_orig;
		color: $color-wheat;
	}
}

.linc_arrow {
	display: flex;
	color: $color-green_orig;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	align-items: center;

	&::after {
		display: block;
		width: 18px;
		height: 12px;
		content: "";
		background-color: $color-green_orig;
		mask: url(../images/icons/icon-arrow-min.svg);
		margin-left: 8px;
	}
}

// Слайдер
.tns-controls {
	position: absolute;
	z-index: 1;
	top: 50%;
	right: 0;
	left: 0;
	display: flex;
	padding: 0 44px;
	transform: translateY(-50%);
	justify-content: space-between;

	> button {
		height: 40px;
		padding: 0 11px;
		text-align: center;
		border: none;
		border-radius: 5px;
		background-color: $color-lght_green;
		box-shadow: 0px 1px 10px rgba(16, 42, 67, 0.15);
		@include transition("visibility, opacity");

		&:disabled {
			visibility: hidden;
			opacity: 0;
		}

		&::after {
			display: block;
			width: 18px;
			height: 12px;
			content: "";
			background-color: $color-green_orig;
			mask: url(../images/icons/icon-arrow-min.svg);
		}
	}

	> button[data-controls="prev"]::after {
		transform: rotate(180deg);
	}
}

@import "./common/header.scss";
@import "./common/bread-crumbs.scss";

@import "./pages/index/slider-main.scss";
@import "./pages/index/lab-rgl.scss";
@import "./common/card-linc.scss";
@import "./pages/index/advantages.scss";
@import "./pages/index/other-public.scss";
@import "./pages/index/gem-wiki.scss";

@import "./pages/sertifikatsiya/packaging.scss";

@import "./pages/404.scss";

@import "./pages/faq.scss";

@import "./pages/articles.scss";

@import "./common/content-block-a.scss";
@import "./common/certificates.scss";
@import "./common/stages-work.scss";
@import "./common/contact.scss";
@import "./common/footer.scss";
