:root {
	// Размеры
	--content-max-weight: 1312px;
}

// Цвета
$color-text-main: #102a43;
$color-wheat: #ffffff;
$color-blue_neut: #f8f9fb;
$color-light_viol: #d9e2ec;
$color-lght_green: #f1f9f6;
$color-01: rgba(16, 42, 67, 0.1);
$color-25: rgba(16, 42, 67, 0.25);
$color-50: rgba(16, 42, 67, 0.5);
$color-neutral: #617d97;
$color-sky: #186eaf;
$color-supporting_blue: #4097d7;
$color-green_orig: #1c4932;
$color-green_orig-hover: #235b3f;
$color-green_blend: #137d64;
$color-supporting_yellow: #f8e3a3;
$color-shitty: #dab588;
$color-dark-shit: #d8b387;

// Шрифты
$font-Montserrat: "Montserrat", sans-serif;
$font-Raleway: "Raleway", sans-serif;

// Анимация
@mixin transition($property: all) {
	transition: 150ms ease-in-out 0ms;
	transition-property: $property;
}

@import "./common/fonts.scss";
@import "./common/tiny-slider.scss";

* {
	box-sizing: border-box;
	outline-offset: 4px;
}

// https://github.com/WICG/focus-visible
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

input:focus,
textarea:focus {
	outline: none;
}

body {
	// overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: $color-text-main;
	background-color: $color-blue_neut;
	background-image: url(../images/back-img.svg);
	background-repeat: repeat-y;
	background-position-x: center;
	font-family: $font-Montserrat;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	line-height: 24px;
	min-width: 320px;
}

a {
	text-decoration: none;
	color: $color-green_orig;
	@include transition(color);

	&:hover {
		color: $color-green_blend;
	}
}

.header,
.footer,
.contact,
main {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.heading-1,
h1 {
	font-family: $font-Raleway;
	font-size: 40px;
	font-weight: 600;
	line-height: 48px;
}

.heading-2,
h2 {
	font-family: $font-Raleway;
	font-weight: 600;
	font-size: 32px;
	line-height: 40px;
}

.heading-4,
h4 {
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
}

h1,
h2 {
	margin: 40px 0 24px 0;
}

h3,
h4 {
	margin: 40px 0 16px 0;
}

p {
	margin: 12px 0;
}

p,
h1,
h2,
h3,
h4 {
	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.heading-under-bread-crumbs {
	margin: 24px 0 0 0;
	text-align: center;
}

table {
	width: 100%;
	border-spacing: 0;
	border: 1px solid $color-light_viol;
	border-radius: 5px;
	background-color: $color-wheat;
	font-size: 14px;
}

th,
td {
	margin: 0;
	padding: 16px 24px;
	border-bottom: 1px solid $color-light_viol;
}

tr:last-child > td {
	border-bottom: 0;
}

th {
	text-align: left;
	font-weight: 600;
	line-height: 20px;
}

figure {
	margin: 0;
	padding: 0;
}

// миксы
.text_center {
	text-align: center;
}

// inputs
.input {
	overflow: hidden;
	height: 40px;
	padding: 0 16px;
	color: $color-text-main;
	border: 1px solid $color-light_viol;
	border-radius: 5px;
	background-color: $color-blue_neut;
	font-family: $font-Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	@include transition(border-color);

	&:focus {
		border-color: $color-neutral;
	}

	&::placeholder {
		color: $color-50;
	}
}

.input_icon {
	display: flex;
	flex-direction: row-reverse;

	.input {
		z-index: 2;
		display: block;
		border-left: none;
		border-radius: 0 5px 5px 0;
		flex-basis: 100%;
		width: 100%;

		&:focus ~ label {
			border-color: $color-neutral;
		}
	}

	> label {
		z-index: 1;
		width: 40px;
		height: 40px;
		border: 1px solid $color-light_viol;
		border-right: none;
		border-radius: 5px 0 0 5px;
		background-color: $color-wheat;
		background-repeat: no-repeat;
		background-position: center;
		flex-shrink: 0;
	}

	.input:not(:placeholder-shown),
	.input:not(:placeholder-shown) ~ label {
		border-color: $color-neutral;
	}
}

.input_icon-doc {
	background-image: url(../images/icons/icon-doc-min.svg);
}

.input_icon-search {
	background-image: url(../images/icons/icon-search-min.svg);
}

.input_select {
	position: relative;

	select {
		width: 100%;
		appearance: none;
	}

	&::after {
		position: absolute;
		z-index: 1;
		top: 50%;
		right: 16px;
		display: block;
		width: 6px;
		height: 10px;
		content: "";
		transform: translateY(-40%) rotate(90deg);
		pointer-events: none;
		background-color: $color-neutral;
		mask: url(../images/icons/icon-angle-min.svg) no-repeat center;
	}
}

// button
.button {
	display: inline-flex;
	height: 40px;
	margin: 0;
	padding: 0 24px;
	cursor: pointer;
	text-align: center;
	color: $color-wheat;
	border: none;
	border: 1px solid $color-green_orig;
	border-radius: 5px;
	background-color: $color-green_orig;
	font-family: $font-Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	align-items: center;
	justify-content: center;

	@include transition("background-color border-color color");

	&:hover {
		text-decoration: none;
		border-color: $color-green_orig-hover;
		background-color: $color-green_orig-hover;
		color: $color-wheat;
	}
}

.button_arrow {
	padding: 0 20px;
	background-image: url(../images/icons/icon-arrow-min.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.button_hgost-neutral {
	color: $color-neutral;
	border: 1px solid $color-neutral;
	background-color: transparent;

	&:hover {
		border-color: $color-green_blend;
		background-color: $color-green_blend;
		color: $color-wheat;
	}
}

.button_hgost-green {
	color: $color-green_orig;
	border: 1px solid $color-green_orig;
	background-color: transparent;

	&:hover {
		border-color: $color-green_orig;
		background-color: $color-green_orig;
		color: $color-wheat;
	}
}

.button_hgost-light {
	color: $color-neutral;
	border: 1px solid $color-light_viol;
	background-color: transparent;

	&:hover {
		color: $color-neutral;
		border-color: $color-light_viol;
		background-color: transparentize($color-light_viol, 0.6);
	}
}

.linc_arrow {
	display: flex;
	color: $color-green_orig;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	align-items: center;

	&:hover {
		text-decoration: none;

		&::after {
			margin-left: 8px;
			opacity: 1;
		}
	}

	&::after {
		@include transition("margin-left opacity");
		display: block;
		width: 18px;
		height: 12px;
		margin-left: 0;
		content: "";
		opacity: 0;
		background-color: $color-green_orig;
		mask: url(../images/icons/icon-arrow-min.svg);
	}
}

// Слайдер
.tns-controls {
	position: absolute;
	z-index: 1;
	top: 50%;
	right: 0;
	left: 0;
	display: flex;
	padding: 0 44px;
	transform: translateY(-50%);
	justify-content: space-between;

	> button {
		height: 40px;
		padding: 0 11px;
		text-align: center;
		border: none;
		border-radius: 5px;
		background-color: $color-lght_green;
		box-shadow: 0px 1px 10px rgba(16, 42, 67, 0.15);
		@include transition("visibility, opacity");

		&:disabled {
			visibility: hidden;
			opacity: 0;
		}

		&::after {
			display: block;
			width: 18px;
			height: 12px;
			content: "";
			background-color: $color-green_orig;
			mask: url(../images/icons/icon-arrow-min.svg);
		}

		&:hover {
			background-color: $color-green_orig;

			&::after {
				background-color: $color-wheat;
			}
		}
	}

	> button[data-controls="prev"]::after {
		transform: rotate(180deg);
	}
}

@media screen and (max-width: 1344px) {
	:root {
		--content-max-weight: 100%;
		--content-pading: 0 16px;
	}
}

@media screen and (max-width: 768px) {
	body {
		font-size: 14px;
		line-height: 20px;
	}

	.heading-1,
	h1 {
		font-size: 24px;
		line-height: 32px;
	}

	.heading-2,
	h2 {
		font-family: $font-Raleway;
		font-weight: 600;
		font-size: 32px;
		line-height: 40px;
	}

	.heading-4,
	h4 {
		font-size: 18px;
		font-weight: 600;
		line-height: 24px;
	}

	.heading-under-bread-crumbs {
		margin-top: 0;
		margin-bottom: 16px;
	}
}

@import "./common/hamburger.scss";
@import "./common/header.scss";
@import "./common/bread-crumbs.scss";

@import "./pages/index/slider-main.scss";
@import "./pages/index/lab-rgl.scss";
@import "./common/card-linc.scss";
@import "./pages/index/advantages.scss";
@import "./pages/index/other-public.scss";
@import "./pages/index/gem-wiki.scss";
@import "./pages/sertifikatsiya/packaging.scss";
@import "./pages/404.scss";
@import "./pages/faq.scss";
@import "./pages/articles-page.scss";
@import "./pages/site-search.scss";
@import "./pages/articles/articles.scss";
@import "./pages/articles/articles-list.scss";
@import "./pages/conf/conf.scss";

@import "./common/calculator.scss";
@import "./common/content-block-a.scss";
@import "./common/certificates.scss";
@import "./common/stages-work.scss";
@import "./common/contact.scss";
@import "./common/footer.scss";
@import "./common/pagination.scss";
@import "./common/certificate-popup.scss";

.color_green_blend {
	color: $color-green_blend;
}

// @media screen and (max-width: 1344px) {
// 	.header__bot {
// 		padding: var(--content-pading);
// 		padding-top: 24px;
// 		padding-bottom: 24px;
// 		margin-bottom: 64px;
// 	}
// }

// @media screen and (max-width: 960px) {

// }

// @media screen and (max-width: 768px) {

// }
