.gem-wiki {
	width: var(--content-max-weight);
	margin-bottom: 120px;
	padding-bottom: 36px;
	overflow: hidden;
}

.gem-wiki__heading {
	margin: 0 0 48px 0;
	text-align: center;
}

.gem-wiki__slider-wrap {
	width: 100%;

	.tns-ovh {
		overflow: visible;
	}
}

.gem-wiki__slider-linc {
	display: flex;
	flex-direction: column;
	width: 226px;
	padding: 30px 0 16px 0;
	text-decoration: none;
	border: 1px solid $color-light_viol;
	border-radius: 5px;
	background-color: $color-wheat;
	align-items: center;
	@include transition(box-shadow);

	&:hover {
		text-decoration: none;
		box-shadow: 0px 1px 10px rgba(16, 42, 67, 0.15);
	}

	&:focus {
		border-color: $color-neutral;
	}
}

.gem-wiki__slider-img {
	margin-bottom: 30px;
}

.gem-wiki__slider-text {
	text-align: center;
	color: $color-sky;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
}

@media screen and (max-width: 1344px) {
	.gem-wiki {
		padding: var(--content-pading);
	}
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
	.gem-wiki {
		margin-bottom: 64px;
	}

	.gem-wiki__heading {
		margin-bottom: 24px;
	}

	.gem-wiki__slider-linc {
		width: 145px;
		padding: 12px;
	}

	.gem-wiki__slider-img {
		width: 94px;
		margin-bottom: 6px;
	}

	.gem-wiki__slider-text {
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
	}
}
