.lab-rgl {
	display: flex;
	flex-direction: column;
	width: var(--content-max-weight);
	padding: 48px 0;
	align-items: center;
	margin-bottom: 72px;
}

.lab-rgl__heading {
	margin: 0 0 24px 0;
	text-align: center;
}

.lab-rgl__text {
	margin: 0 0 40px 0;
	text-align: center;
}

.lab-rgl__servic-wrap {
	width: 100%;
	margin-bottom: 40px;
}

@media screen and (max-width: 1344px) {
	.lab-rgl {
		padding: var(--content-pading);
	}
}

@media screen and (max-width: 768px) {
	.lab-rgl {
		margin-bottom: 64px;
	}

	.lab-rgl__heading {
		margin-bottom: 12px;
	}

	.lab-rgl__text {
		margin-bottom: 24px;
	}

	.card-linc.lab-rgl__servic-wrap {
		margin-bottom: 24px;
	}
}
