nav.bread-crumbs
    ul.bread-crumbs__list
        li.bread-crumbs__item
            a(href="#").bread-crumbs__limc Главная
        li.bread-crumbs__item
            a(href="#").bread-crumbs__limc Статьи
        li.bread-crumbs__item
            span.bread-crumbs__location Сертификация