//- Виды сертификации
section.certificates
    h2.heading-1.certificates__heading Виды сертификации
    .card-linc
        a(href="#").card-linc__item
            img(src="./assets/images/cert-diamond-min.png", srcset="assets/images/cert-diamond@2x-min.png 2x" alt="Виды сертификации на бриллианты").card-linc__img
            h4.card-linc__heading Бриллианты
        a(href="#").card-linc__item
            img(src="./assets/images/cert-ring-min.png", srcset="assets/images/cert-ring@2x-min.png 2x" alt="Виды сертификации на ювелирные изделия").card-linc__img
            h4.card-linc__heading Ювелирные изделия
        a(href="#").card-linc__item
            img(src="./assets/images/cert-mineral-min.png", srcset="assets/images/cert-mineral@2x-min.png 2x" alt="Виды сертификации на драгоценные камни").card-linc__img
            h4.card-linc__headingr Драгоценные камни
