.cookies
    .cookies__wrap
        span.cookies__text Мы используем файлы cookie. Чтобы узнать больше об использовании cookies на нашем сайте, перейдите на страницу 
            a(href="#") Политики конфиденциальности
        button.cookies__close