footer.footer
    .footer__wrap
        a(href='#').footer__logo
            img(src="./assets/images/icons/main-logo-min.svg", alt="").footer__logo-img
        .footer__info-wrap
            .footer__manu-wrap
                nav.footer__manu
                    ul.footer__manu-list
                        li.footer__manu-item 
                            span.footer__manu-head Сертификация
                        li.footer__manu-item
                            a(href="#").footer__manu-linc Бриллиантов
                        li.footer__manu-item
                            a(href="#").footer__manu-linc Ювелирных изделий
                        li.footer__manu-item
                            a(href="#").footer__manu-linc Драгоценных камней

                nav.footer__manu
                    ul.footer__manu-list
                        li.footer__manu-item
                            span.footer__manu-head О нас
                        li.footer__manu-item
                            a(href="#").footer__manu-linc О компании
                        li.footer__manu-item
                            a(href="#").footer__manu-linc Услуги и цены
                        li.footer__manu-item
                            a(href="#").footer__manu-linc Контакты

                nav.footer__manu
                    ul.footer__manu-list
                        li.footer__manu-item
                            span.footer__manu-head Информация
                        li.footer__manu-item
                            a(href="#").footer__manu-linc Статьи
                        li.footer__manu-item
                            a(href="#").footer__manu-linc FAQ
                        li.footer__manu-item
                            a(href="#").footer__manu-linc Энциклопедия

            .footer__contact-wrap
                a(href="#").footer__contact-item Москва, ул. Нагатинская, д. 5
                    img(src="./assets/images/icons/icon-point-min.svg", alt="").footer__contact-item-icon
                span.footer__contact-item Пн–пт с 10:00 до 20:00
                    img(src="./assets/images/icons/icon-time-min.svg", alt="").footer__contact-item-icon
                a(href="tel:+74952314512").footer__contact-item +7 495 231 45 12
                    img(src="./assets/images/icons/icon-pone-min.svg", alt="").footer__contact-item-icon

            .footer__bot
                span.footer__bot-item © ООО «Russian Gemological Laboratory», 2020
                a(href="#").footer__bot-item Политика конфиденциальности

