header.header
    .header__top
        form.certificate-chek
            .input_icon.certificate-chek__input
                input(type="text" placeholder="Проверить сертификат")#certificate-chek.input
                label(for="certificate-chek").input_icon-doc
            button(type="submit").button.button_arrow.certificate-chek__button
        a(href='#').header__top-logo
            img(src="./assets/images/icons/main-logo-min.svg", alt="").header__top-logo-img
        .header__top-tel-bott-wrap
            .header__top-tel-wrap
                a(href="tel:+74952314512").header__top-tel +7 495 231 45 12
                .header__top-visit-time
                    span.header__top-days Пн–пт с 
                    span.header__top-time 10:00 до 20:00
            button(type="submit").button.header__top-button Заказать экспертизу

    .header__line

    .header__bot
        nav.main-manu.header__bot-main-manu
            ul.main-manu__list
                li.main-manu__item
                    a(href="http://").main-manu__linc Сертификация
                li.main-manu__item
                    a(href="http://").main-manu__linc Услуги и цены
                li.main-manu__item
                    a(href="http://").main-manu__linc Виды сертификации
                li.main-manu__item
                    a(href="http://").main-manu__linc О компании
        form.input_icon
            input(type="text" placeholder="Поиск по сайту")#search-input.input
            label(for="search-input").input_icon-search