//- Другие публикации
section.other-public
    .other-public__text-wrap
        h2.heading-1.other-public__heading Другие публикации
        a(href="#").button.header__top-button1 Услуги и цены
    
    .other-public__slider-wrap
        .other-public__slider
            .other-public__slider_item
                img(src="./assets/images/other-public-01-min.jpg" alt="Индивидуальная упаковка камней").other-public__slider-img
                h3.other-public__slider-heading Выездная экспертиза геммолога
                p.other-public__slider-text Все, кто когда-либо покупал дорогое ювелирное изделие с драгоценными камнями ...
                a(href="#").other-public__slider-linc Читать подробнее
            .other-public__slider_item
                img(src="./assets/images/other-public-02-min.jpg" alt="Индивидуальная упаковка камней").other-public__slider-img
                h3.other-public__slider-heading Полиморфизм в минералах
                p.other-public__slider-text Все, кто когда-либо покупал дорогое ювелирное изделие с драгоценными камнями ...
                a(href="#").other-public__slider-linc Читать подробнее
            .other-public__slider_item
                img(src="./assets/images/other-public-03-min.jpg" alt="Индивидуальная упаковка камней").other-public__slider-img
                h3.other-public__slider-heading Зависит ли цвет изумруда от месторождения?
                p.other-public__slider-text Все, кто когда-либо покупал дорогое ювелирное изделие с драгоценными камнями ...
                a(href="#").other-public__slider-linc Читать подробнее
            .other-public__slider_item
                img(src="./assets/images/other-public-01-min.jpg" alt="Индивидуальная упаковка камней").other-public__slider-img
                h3.other-public__slider-heading Выездная экспертиза геммолога
                p.other-public__slider-text Все, кто когда-либо покупал дорогое ювелирное изделие с драгоценными камнями ...
                a(href="#").other-public__slider-linc Читать подробнее
    
    a(href="#").button.header__top-button2 Услуги и цены