.stages-work
    .stages-work__head
        h2.heading-1.stages-work__heading Этапы работы
        .stages-work__button-wrap
            button(value="tab-sert").button.stages-work__button.tab-button-active Сертификация
            button(value="tab-zakl").button.button_hgost.stages-work__button Экспертное заключение
    .stages-work__tabs
        .stages-work__tabs-item.tab-container-active#tab-sert
            .stages-work__icon-text-wrap
                img(src="./assets/images/icons/icon-stages-doc-min.svg", alt="Иконка").stages-work__icon
                span.stages-work__text Оформление акта приёма-передачи
            .stages-work__icon-text-wrap
                img(src="./assets/images/icons/icon-stages-talk-min.svg", alt="Иконка").stages-work__icon
                span.stages-work__text Экспертиза и консультация по результатам
                span.stages-work__time 1–4 часа
            .stages-work__icon-text-wrap
                img(src="./assets/images/icons/icon-scroll-min.svg", alt="Иконка").stages-work__icon
                span.stages-work__text Оформление сертификата
                span.stages-work__time 1–2 суток
            .stages-work__icon-text-wrap
                img(src="./assets/images/icons/icon-stages-diamond-min.svg", alt="Иконка").stages-work__icon
                span.stages-work__text Передача камня/изделия и документа
        
        .stages-work__tabs-item#tab-zakl
            .stages-work__icon-text-wrap
                img(src="./assets/images/icons/icon-stages-doc-min.svg", alt="Иконка").stages-work__icon
                span.stages-work__text Оформление акта приёма-передачи
            .stages-work__icon-text-wrap
                img(src="./assets/images/icons/icon-stages-talk-min.svg", alt="Иконка").stages-work__icon
                span.stages-work__text Экспертиза и консультация по результатам
                span.stages-work__time 1–4 часа
            .stages-work__icon-text-wrap
                img(src="./assets/images/icons/icon-stages-shield-min.svg", alt="Иконка").stages-work__icon
                span.stages-work__text Выдача устного или письменного экспертного заключения
                span.stages-work__time 1–2 суток
            .stages-work__icon-text-wrap
                img(src="./assets/images/icons/icon-stages-diamond-min.svg", alt="Иконка").stages-work__icon
                span.stages-work__text Передача камня/изделия и документа

