.card-linc {
	display: flex;
	margin-bottom: 40px;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card-linc__item {
	display: flex;
	flex-direction: column;
	width: 340px;
	padding: 16px 24px;
	color: $color-text-main;
	border: 1px solid $color-light_viol;
	border-radius: 5px;
	background-color: $color-wheat;
	align-items: center;
	@include transition(box-shadow);

	&:hover {
		text-decoration: none;
		box-shadow: 0px 1px 10px rgba(16, 42, 67, 0.15);
	}

	&:focus {
		border-color: $color-neutral;
	}
}

.card-linc__img {
	margin-bottom: 16px;
}

.card-linc__heading {
	width: 100%;
	margin: 0 0 8px 0;
	color: $color-sky;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
}

.card-linc__text {
	margin: 0 0 8px 0;
	font-size: 14px;
	line-height: 16px;
}

.card-linc_content-block {
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	margin-bottom: 24px;

	.card-linc__item {
		flex-direction: row;
		margin-bottom: 16px;
		padding: 16px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.card-linc__img {
		width: 108px;
		margin-right: 24px;
		margin-bottom: 0;
	}

	.card-linc__heading {
		font-size: 16px;
	}
}

@media screen and (max-width: 1110px) {
	.card-linc__item {
		margin: 0 10px 26px 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 628px) {
	.card-linc {
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
	}

	.card-linc__item {
		flex-direction: row;
		width: auto;
		margin: 0 0 26px 0;
		padding: 16px;
	}

	.card-linc__img {
		margin-bottom: 0;
		height: 65px;
		margin-right: 24px;
	}

	.card-linc__text {
		display: none;
	}
}
