.contact {
	width: 100%;
	box-shadow: 1px 2px 10px rgba(16, 42, 67, 0.1);
	background-color: $color-wheat;
	z-index: 1;
}

.contact_wrap {
	width: var(--content-max-weight);
	padding: 64px 0;
	display: flex;
	justify-content: space-between;
}

.contact__form-wrap {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin-right: 24px;
	flex-basis: 410px;
}

.contact__heading {
	margin: 0 0 16px 0;
}

.contact__text {
	margin: 0 0 40px 0;
}

.contact__form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.contact__input-wrap {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 24px;

	> span {
		color: #ba2525;
	}
}

.contact__input {
	width: 100%;
	background-color: $color-blue_neut;
	font-family: $font-Montserrat;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	border: none;
	height: 40px;
	margin-top: 8px;
	padding: 0 16px;
	border-radius: 5px;
	border: 1px solid $color-green_orig;

	&:invalid {
		border: 1px solid #ba2525;
	}

	&:placeholder-shown {
		border: none;
	}

	&::placeholder {
		color: $color-50;
	}

	&:focus:placeholder-shown {
		border: 1px solid $color-green_orig;
	}
}

.contact__input_area {
	padding-top: 12px;
	padding-bottom: 12px;
	height: 80px;
	min-height: 40px;
	max-height: 200px;
	resize: vertical;
}

.button.contact__button {
	margin-bottom: 8px;
}

.contact__text-conf {
	font-weight: 300;
	font-size: 12px;
	line-height: 16px;
	margin-top: 0;

	> a {
		font-weight: normal;
		color: $color-neutral;

		&:hover {
			color: $color-text-main;
		}
	}
}

.contact__map-wrap {
	flex-basis: 720px;
}

.contact__map {
	width: 100%;
	height: 448px;
	margin-bottom: 32px;
}

.contact__adres-wrap {
	display: flex;
	justify-content: space-between;
}

.contact__adres-item {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	color: $color-text-main;
}

.contact__adres-item-icon {
	margin-right: 8px;
}

.contact__adres-item-tel {
	flex-shrink: 0;
}

@media screen and (max-width: 1344px) {
	.contact {
		padding: var(--content-pading);
	}
}

@media screen and (max-width: 1160px) {
	.contact__form-wrap {
		width: 35%;
	}
	.contact__map-wrap {
		width: 65%;
	}
}

@media screen and (max-width: 768px) {
	.contact_wrap {
		padding-top: 24px;
		padding-bottom: 24px;
	}

	.contact_wrap {
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
	}

	.contact__form-wrap,
	.contact__map-wrap {
		width: 100%;
		flex-basis: auto;
	}

	.contact__form-wrap {
		margin-right: 0;
		margin-bottom: 40px;
	}

	.contact__heading {
		text-align: center;
		margin-bottom: 16px;
	}

	.contact__text {
		text-align: center;
		margin-bottom: 24px;
	}

	.contact__input-wrap {
		margin-bottom: 16px;
	}

	.contact__map {
		height: 210px;
		margin-bottom: 16px;
	}

	.contact__adres-wrap {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.contact__adres-item {
		margin-bottom: 16px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
