.pagination {
    display: flex;
    justify-content: center;
}

.pagination__list {
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.pagination__item {
    display: flex;
}

.pagination__link,
.pagination__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    color: $color-text-main;
    background: $color-wheat;
    padding: 0 10px;
    
    border: 1px solid $color-25;
    box-sizing: border-box;
    border-radius: 5px;

    &:hover {
        border-color: $color-shitty;
        text-decoration: none;
    }
}

.pagination__btn--previous,
.pagination__btn--next {
    position: relative;
    border: none;
    cursor: pointer;
}

.pagination__btn--previous::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 10px;
    background: url('../images/icons/icon-angle-min.svg') no-repeat;
    transform: rotate(180deg);
    top: 15px;
    left: 15px;
}

.pagination__btn--next::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 10px;
    background: url('../images/icons/icon-angle-min.svg') no-repeat;
    top: 15px;
    right: 15px;
}