.stages-work-wrap {
	width: var(--content-max-weight);
	margin-top: 32px;
	margin-bottom: 120px;
	box-shadow: 1px 2px 10px rgba(16, 42, 67, 0.1);
	border-radius: 10px;
	background-color: $color-wheat;
	padding: 40px 0;
}

.stages-work {
}

.stages-work__head {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 64px;
}

.stages-work__head_left {
	align-items: flex-start;
}

.stages-work__heading {
	text-align: center;
	margin-bottom: 40px;
}

.stages-work__button-wrap {
	display: flex;
}

.stages-work__button {
	margin-right: 16px;
}

.stages-work__tabs-item {
	display: none;
	justify-content: space-around;
}

.tab-container-active {
	display: flex;
}

.stages-work__icon-text-wrap {
	flex-basis: 290px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stages-work__icon {
	margin-bottom: 12px;
}

.stages-work__text {
	text-align: center;
	margin-bottom: 12px;
}

.stages-work__time {
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	color: $color-neutral;
}
