.stages-work-wrap {
	width: var(--content-max-weight);
	margin: 120px 0;
	padding: 40px 0;
	border-radius: 10px;
	background-color: $color-wheat;
	box-shadow: 1px 2px 10px rgba(16, 42, 67, 0.1);
}

.stages-work {
	width: 100%;
}

.stages-work__head {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 64px;
	align-items: center;
}

.stages-work__head_left {
	align-items: flex-start;
}

.stages-work__heading {
	margin-bottom: 40px;
	text-align: center;
}

.stages-work__button-wrap {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -16px;
}

.stages-work__button {
	margin-right: 16px;
	margin-bottom: 16px;

	&:last-child {
		margin-right: 0;
	}
}

.stages-work__tabs-item {
	display: none;
	justify-content: space-around;
}

.tab-container-active {
	display: flex;
}

.stages-work__icon-text-wrap {
	display: flex;
	flex-direction: column;
	flex-basis: 290px;
	align-items: center;
}

.stages-work__icon {
	margin-bottom: 12px;
}

.stages-work__text {
	margin-bottom: 12px;
	text-align: center;
}

.stages-work__time {
	text-align: center;
	color: $color-neutral;
	font-size: 14px;
	line-height: 16px;
}

@media screen and (max-width: 1344px) {
	.stages-work-wrap {
		width: calc(var(--content-max-weight) - 34px);
	}

	.stages-work__tabs-item {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 1210px) {
	.stages-work__tabs-item {
		margin-bottom: -40px;
	}

	.stages-work__icon-text-wrap {
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 768px) {
	.stages-work-wrap {
		margin: 0 0 64px 0;
		padding: 24px 16px;
	}

	.stages-work__head {
		margin-bottom: 40px;
	}

	.stages-work__heading {
		margin-bottom: 24px;
	}
}

@media screen and (max-width: 410px) {
	.stages-work__button {
		width: 100%;
		margin-right: 0;
	}
}
